extends layout

block content
  .row
    #map.col-sm-9

    #chat.col-sm-3
      form.form-inline.chatInput
        .form-group
          .input-group
            input.form-control(type='text', placeholder='Msg')
        button.btn.btn-primary(type='submit') Send
