extends layout

block content
  #free-auntie
    button.btn.btn-success(type='button', value='Auntie-free?') Auntie-free?
  #add-auntie
    button.btn.btn-danger(type='button', value='Add Auntie') Report Auntie
  .row
    #map.col-sm-9

    #chat.col-sm-3
      form.form-inline.chatInput
        .form-group
          .input-group
            input.form-control(type='text', placeholder='Your Message')
        button.btn.btn-primary(type='submit') Send
